footer {
  width: 100vw;
  height: auto;
  justify-content: center;
  text-align: center;
  border-top: 1px solid black;
}
.copy {
  margin: 20px 5px;
}
.social {
  margin: 10px;
  justify-content: space-between;
}

/* @media only screen and (min-width: 576px) {
  .social {
    margin: 15px 320px;
    justify-content: space-between;
    justify-content: center;
  }
  .copy {
    margin: 20px 40px;
  }
} */
/* @media only screen and (min-width: 992px) {
  .social {
    margin: 15px 320px;
    justify-content: space-between;
  }
  .copy {
    margin: 20px 40px;
  }
}
 */
