footer {
  width: 100vw;
  height: auto;
  justify-content: center;
  text-align: center;
  border-top: 1px solid black;
}
.copy {
  margin: 20px 5px;
}
.social {
  margin: 10px;
  justify-content: space-between;
}
