body {
  margin: 0;
  font-family: "Lato", sans-serif;
  height: 100vh;
}

code {
  font-family: "Lato", sans-serif;
}
.footer {
  background-color: lightblue;
}
/* .Logo {
  background-image: url(aparat.jpg) alt="Photo by Dariusz Sankowski on Unsplash";
} */
/* .container {
  background-image: url(aparat1920x1440.jpg) alt=
    "Photo by Dariusz Sankowski on Unsplash";
  background-size: auto;
} */

/*  z body
 //background-image: url(wall680x480.jpg);
  //background-size: contain;
  //background-repeat: no-repeat; */
